* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}
.header__logoImg {
  width: 180px;
}
.header__menu {
  display: block;
  width: 27px;
  height: 21px;
  background-image: url(../assets/icons/menu.png);
  background-repeat: no-repeat;
}
.header__nav {
  position: absolute;
  top: 40px;
  z-index: 1;
  width: 100%;
  background-color: #ffd007;
  opacity: 0;
  visibility: collapse;
}
.header__nav ul {
  margin: 0 auto;
  text-align: center;
  list-style: none;
}
.header__nav ul li {
  height: 85px;
}
.header__nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 24px;
  line-height: 85px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.header__nav ul li:hover,
.header__nav ul a:hover {
  color: white;
  background-color: #005dce;
  transition: all 800ms;
}
.header #check {
  display: none;
}
.header #check:checked ~ .header__nav {
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms;
}

.main__container {
  margin-top: 35px;
}
.main__texts {
  position: relative;
  margin-bottom: 80px;
}
.main__texts h1 {
  width: 300px;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 400;
  color: #005dce;
}
.main__texts p {
  width: 310px;
  margin-bottom: 35px;
  font-size: 15px;
  color: #5f5f5f;
}
.main__texts .button {
  display: block;
  width: 160px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: white;
  background-color: #fd7676;
  border-radius: 36px;
  box-shadow: 0 3px 5px #ccc;
}
.main__texts .button:hover {
  background-color: #ff9d9d;
}
.main__texts .button:active {
  background-color: #ef6060;
}
.main__texts img {
  position: absolute;
  top: 75px;
  left: 270px;
  width: 70px;
}
.main__img {
  width: 335px;
  margin: 0 auto;
}
.main__img img {
  width: 100%;
}

.benefits {
  margin-top: 100px;
}
.benefits__container {
  text-align: center;
}
.benefits__item {
  margin: 30px 0;
  padding: 0 60px;
}
.benefits__item img {
  width: 120px;
}
.benefits__item p {
  font-size: 15px;
  color: #5f5f5f;
}

.functioning {
  margin-top: 50px;
  background-color: #ffdc44;
}
.functioning__container {
  padding-bottom: 10px;
}
.functioning__how .how__title {
  padding: 25px 0;
  font-size: 30px;
  font-weight: 400;
  color: white;
}
.functioning__how .how__item {
  width: 100%;
  margin-bottom: 26px;
}
.functioning__how .how__item h3,
.functioning__how .how__item p {
  margin: 0 0 0px 80px;
}
.functioning__how .how__item h3 {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #005dce;
}
.functioning__how .how__item .number-1::before {
  content: "1";
}
.functioning__how .how__item .number-2::before {
  content: "2";
}
.functioning__how .how__item .number-3::before {
  content: "3";
}
.functioning__how .how__item .number-4::before {
  content: "4";
}
.functioning__how .how__item .number::before {
  position: absolute;
  left: calc(100% - 95%);
  display: block;
  width: 50px;
  height: 50px;
  font-size: 33px;
  text-align: center;
  line-height: 50px;
  background-color: #ffd007;
  border-radius: 50%;
}
.functioning__how .how__item p {
  font-size: 15px;
  color: #5f5f5f;
}
.functioning__img {
  display: none;
}

.speak {
  display: none;
}

.contact {
  padding: 30px 0;
  background-color: #005dce;
}
.contact__title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: white;
}
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__form .contact_name,
.contact__form .contact__email {
  width: 313px;
}
.contact__form .inputs__equal {
  width: 100%;
  height: 40px;
  padding-left: 25px;
  border: none;
  border-radius: 36px;
  /*box-shadow: 0 3px 5px #ccc;*/
  outline: none;
  border: none;
}
.contact__form .inputs__equal::placeholder {
  font-size: 15px;
  color: #d6d6d6;
}
.contact__form .input__text {
  margin-bottom: 22px;
}
.contact__form .input__email {
  margin-bottom: 5px;
}
.contact__form .contact__chek {
  margin-bottom: 22px;
  color: white;
}
.contact__form .contact__chek a {
  color: white;
}
.contact__form input[type=submit] {
  width: 160px;
  height: 40px;
  border: none;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: white;
  background-color: #fd7676;
  border-radius: 36px;
  outline: none;
}
.contact__form input[type=submit]:hover {
  background-color: #ff9d9d;
}
.contact__form input[type=submit]:active {
  background-color: #ef6060;
}

.footer {
  padding: 30px 0;
  background-color: #a0c2ec;
}
.footer__social > h3 {
  font-size: 18px;
  font-weight: 500;
  color: #005dce;
}
.footer__social h3:nth-child(3) {
  margin-bottom: 15px;
}
.footer__social > p {
  margin-bottom: 20px;
  font-size: 15px;
  color: white;
}
.footer__social .social-media a {
  cursor: pointer;
}
.footer__social .social-media a:nth-child(2) {
  margin: 0 25px;
}
.footer__social .social-media a img {
  width: 22px;
  height: 22px;
}
.footer__social .social-media a .twitter {
  height: 18px;
}
.footer__credits {
  margin-top: 25px;
  font-size: 15px;
  text-align: right;
  color: white;
}
.footer__credits p {
  margin-bottom: 3px;
}
.footer__credits a {
  text-decoration: none;
  color: white;
}
.footer__credits a:hover {
  text-decoration: underline;
  color: #005dce;
}

/*# sourceMappingURL=styles.css.map */
