$font: "Poppins", sans-serif;
$h1DesktopSize: 46px;
$h2DesktopSize: 30px;

$h1MobileSize: 36px;
$h2MobileSize: 30px;

$h3pSize: 18px;

$pSize: 18px;
$p2Size: 15px;

$color-one: #ffd007;
$color-two: #fd7676;
$color-three: #005dce;
$backgroun-footer: #a0c2ec;
$color-p: #5f5f5f;

@mixin numerical-cycle {
  @for $i from 1 to 5 {
    .number-#{$i} {
      &::before {
        content: "#{$i}";
      }
    }
  }
}
