$font: "Poppins", sans-serif;
$h1DesktopSize: 46px;
$h2DesktopSize: 33px;
$h3DesktopSize: 24px;

$h1MobileSize: 33px;
$h2MobileSize: 20px;
$h3MobileSize: 17px;

$pSize: 18px;
$p2Size: 15px;

$color-one: #ffd007;
$color-two: #fd7676;
$color-three: #005dce;
