@import "_varMixins";

/*============================
  Header
============================*/
.header {
  &__menu {
    display: none;
  }
  &__nav {
    position: relative;
    top: 0;
    width: 300px;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    ul {
      display: flex;
      justify-content: space-around;
      li {
        height: auto;
        a {
          font-size: $pSize;
          line-height: 18px;
          color: $color-p;
        }
      }
      li:hover,
      a:hover {
        color: $color-three;
        background-color: transparent;
        transition: none;
      }
    }
  }
}
/*============================
  Main
============================*/
.main {
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__texts {
    margin-bottom: 0;
    p {
      line-height: 22px;
    }
    img {
      display: none;
    }
  }
  &__img {
    margin: 0;
  }
}
/*============================
  Benefits
============================*/
.benefits {
  margin-top: 60px;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 212px;
    padding: 0 20px;
  }
}
